<style type="text/css">
       
.blog{
	padding: 100px 0;
}
.blog::after{
	content: '';
	display: block;
	clear: left;
}
.blog article{
	float: left;
	width: 300px;
	margin: 10px 10px;
}
.jjang{
	margin-right: 0px;
}

.blog article img{
	width: 100%;
	height: auto;
}
.blog article p{
	margin-top: 30px;
}
 </style>

    <div class="container">
		<section class="blog">
			<h2 class="readable-hidden">멤버들</h2>
			<article class="sel"><img src="/assets/kim.JPG" alt="동원" ><p>다이어트 시급 예전으로 돌아가랏</p></article>
			<article class="hyun"><img src="/assets/eunseo.jpg" alt="은서" ><p>이별 다이어트중</p></article>
			<article class="jang"><img src="/assets/jeahyun.jpg" alt="제횬"><p>시먼딩씨 </p></article>
		</section>
	</div>